 body{
            border: 2px;
        }
        .container {
            width: 90%;
            max-width: 1100px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
        .upside {
            padding: 10px;
            border: 2px solid black;
            text-align: center;
            border-radius: 15px;
        }

        .upside:hover{
            background-color: skyblue;
        }
        .text{
            text-align: center;
            color: rgb(110, 95, 95);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding-top: 20px;
        }
        .text::before,
        .text::after{
            content: "";
            width: 280px;
            height: 2px;
            background-color: #c2cfd2;
        }
        .container2 img{
            width: 100%;
            height:400px;
            padding-top: 50px;
            
        }
        .text2{
            position: absolute;
            top: 50%;
            left: 30%;
            color: white;
            font-size: 30px;
            align-items: center;
            width: 100%;
            height:200px;
            margin-left: 0;
        }
        .text3{
            position: absolute;
            top: 57%;
            left: 24%;
            color: white;
            font-size: 20px;
            align-items: center;
            width: 100%;
            height:200px;
            margin-left: 0;
        }
        .text4{
            position: absolute;
            top: 63%;
            left: 40%;
            color: white;
            font-size: 20px;
            align-items: center;
        }
        .text4 button{
            border: 2px groove black;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
        }

        button:hover{
            border: 5px groove gray;
            padding: 30x;

        }
        .color{
            background-color: lightblue;
            width: 100%;
            height:20px;
            padding-top: 0;
        }

.icons{
    padding-top: 40px;
    display: flex;
    gap: 48px;
    align-items: center;
   justify-content: center;
   padding-bottom: 40px;
}

.icon-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #c0c8c5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-wrap: wrap;
}

.icon-circle{
    transition: transform 0.3s ease;
}

.icon-circle:hover {
    transform: translateY(-20px);
    background-color: grey;
}

.TEXT5{
    text-align: center;

}

.t1{
    font-family: 'Oswald', sans-serif;
      font-size: 25px;
      font-weight: 600;
      color: #68756f;
      margin: 40px 0 15px;
}

.t2{
      font-family: 'Oswald', sans-serif;
      font-size: 15px;
      font-weight: 300;
      color: #c2cfd2;
      padding-top: 2px;
}

.t3{
    font-family: 'Lato', sans-serif;
      font-size: 15px;
      font-weight: 400;
      color: #536b78;
      padding-top: 2px;
      margin: 20px;
      padding-left: 75px;
      padding-right: 75px;
}

.text6{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #68756f;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.text6::before,
.text6::after {
  content: "";
  width: 280px;
  height: 2px;
  background-color: #c2cfd2;
}

.box-section{
    display: flex;
    gap: 60px;
    text-align: center;
    padding-bottom: 50px;
}

.box-section img{
    padding-top: 0px;
    width: 100%;
    border-radius: 15px;
    margin-left: 4px;
}

.t4{
    margin-top: 40px;
    font-size:20px;
    font-weight: bold;
    color: #607d8b;
    text-transform: uppercase;

}

.text{
    margin-top: 20px;
    font-size: 20px;
    color: #607d8b;
    text-decoration: wavy;
}

.container3 {
    display: flex;
    gap: 28px;
    justify-content: center;
    padding-bottom: 25px;
}

.btn {
    width: 200px;
    padding: 30px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
    border-radius: 12px;
    text-transform: uppercase;
}

.green {
    background-color: #a9dba5;
}

.gray {
    background-color: #bcc5c2;
}

.btn:hover{
    border: 2px solid black;
}

p{
    padding-bottom: 0px;
}

h5{
    text-align: center;
    font-weight: bold;
    padding-top: 0px;
}

.text7{
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #68756f;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 4px;

}

.text7::before,
.text7::after {
  content: "";
  width: 280px;
  height: 2px;
  background-color: #c2cfd2;
}

.footer{
    border:2px solid #bcc5c2;
    text-align: center;
    margin-left: 150px;
    margin-right: 150px;
}

body{
    padding-bottom: 75px;
}
